<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/common.css" rel="stylesheet">
    <title>Matchbook Foundation: Curriculum List</title>
  </head>

  <body>
    <div class="container">

      <%- include('section/header'); %>

      <%- include('section/menu'); %>

      <div id="page">
        <h2>Appointments</h2>
        <% appointmentList.forEach(function(appointment) { %>

          <% var appointmentItem = appointment['appointmentItem'] %>
          <% var curriculumItem = appointment['curriculumItem'] %>
          <% var tutorUserItem = appointment['tutorUserItem'] %>
          <% var studentUserItem = appointment['studentUserItem'] %>

          <ul>
            <li><a href="/appointment-view?appointment_id=<%= appointment['appointmentId'] %>"><%= appointment['appointmentId'] %></a></li>
            <li>Curriculum: <a href="/curriculum-view?curriculum_id=<%= curriculumItem['curriculum_id'] %>"><%= curriculumItem['name'] %></a></li>
            <li>When: <%= appointmentItem['yyyymmddhh'] %></li>
            <li>Tutor: <a href="/user?user_id=<%= tutorUserItem['user_id'] %>"><%= tutorUserItem['name'] %> (<%= tutorUserItem['email_lowercase'] %>)</a></li>
            <li>Student: <a href="/user?user_id=<%= studentUserItem['user_id'] %>"><%= studentUserItem['name'] %> (<%= studentUserItem['email_lowercase'] %>)</a></li>
            <li>Note: <%= appointmentItem['adminNote'] %></li>
            <li>
              Actions: 
              <form action="/appointment-archive" method="post">
                <input type="hidden" name="appointment_id" value="<%= appointment['appointmentId'] %>"/>
                <% if (sessionModel.isUserAdmin()) { %>
                  <input type="hidden" name="note" value="admin archive"/>
                  <input type="submit" value="Archive"/>
                <% } else if (sessionModel.isUserTutor()) { %>
                  <input type="hidden" name="note" value="tutor cancel"/>
                  <input type="submit" value="Cancel"/>
                <% } else if (sessionModel.isUserStudent()) { %>
                  <input type="hidden" name="note" value="student cancel"/>
                  <input type="submit" value="Cancel"/>
                <% } %>
              </form>
            </li>
          </ul>
          
        <% }) %>
      </div>

      <%- include('section/footer'); %>

    </div>

    <!-- Static -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>

