<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Matchbook Foundation: Curriculum List</title>
  </head>

  <body>
    <div class="container">

      <%- include('section/header'); %>

      <%- include('section/menu'); %>

      <div id="page">
        <h2>Created Appointment!</h2>
        <ul>
          <li>
            <span>Appointment ID: <%= appointment_item['appointmentId'] %></span>
          </li>
          <li>
            <span>Date & Time: <%= appointment_item['yyyymmddhh'] %></span>
          </li>
        </ul>
      </div>

      <%- include('section/footer'); %>

    </div>

    <!-- Static -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>

