<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>List of Appointments (Admin)</title>
  </head>

  <body>
    <%- include('section/header'); %>

    <div class="container">


      <div id="page">

        <div class="row">
          <h2>Appointments</h2>
        </div>

        <div class="row">
          <% if (typeof sessionModel != "undefined" && sessionModel.isLoggedIn() && sessionModel.isUserAdmin()) { %>
          <div class="card col-sm-12">
            <div class="card-body">As an admin, you can view all active appointments.</div>
          </div>
          <% } %>
        </div>

        <% appointmentModels.forEach(function(appointmentModel) { %>

          <ul>
            <li><a href="/appointment-view?appointment_id=<%= appointmentModel.getAppointmentId() %>">Details | 자세히 보기 (Click)</a></li>
            <li>Curriculum | 과목: <a href="/curriculum-view?curriculum_id=<%= appointmentModel.getCurriculumId() %>"><%= appointmentModel.getCurriculumName() %></a></li>
            <li>When | 수업시간: <%= appointmentModel.getAppointmentStartDateString() %> <%= appointmentModel.getAppointmentStartTimeString() %></li>
            <li>Mentor | 멘토: <a href="/user?user_id=<%= appointmentModel.getTutorUserId() %>"><%= appointmentModel.getTutorUserName() %> (<%= appointmentModel.getTutorUserEmail() %>)</a></li>
            <li>Student | 학생: <a href="/user?user_id=<%= appointmentModel.getStudentUserId() %>"><%= appointmentModel.getStudentUserName() %> (<%= appointmentModel.getStudentUserEmail() %>)</a></li>
            <li>Link to Lesson | 수업 링크: <a href="<%= appointmentModel.getTutorNote() %>"></a></li>
          </ul>
        <% }) %>
      </div>
    </div>

    <%- include('section/footer'); %>

    <!-- Static -->
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>

