<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Create Curriculum (Admin)</title>
  </head>

  <body>
    <%- include('section/header'); %>

    <div class="container">
      <div id="page">
        <h1>Curriculum Created Successfully!</h1>
        <div>
            <strong>Name: </strong>
            <span><%= curriculum_obj['name'] %></span>
        </div>
        <div>
            <strong>Description: </strong>
            <span><%= curriculum_obj['description'] %></span>
        </div>
      </div>
    </div>

    <%- include('section/footer'); %>

    <!-- Static -->
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>
