<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Matchbook Foundation: Curriculum List</title>
  </head>

  <body>
    <div class="container">

      <%- include('section/header'); %>

      <div id="page">
        <h2>Curriculum List</h2>
          <ul>
            <% for(var i=0; i<curriculumModels.length; i++) { %>
              <% var curriculumModel = curriculumModels[i]; %>
              <li><a href="/curriculum-view?curriculum_id=<%= curriculumModel.getId() %>"><%= curriculumModel.getName() %></a></li>
              <% if (sessionModel.isUserAdmin()) { %>
                <form action="/curriculum-remove" method="post">
                  <input type="hidden" name="curriculum_id" value="<%= curriculumModel.getId() %>"/>
                  <input type="submit" value="Remove"/>
                </form>
              <% } %>
            <% } %>
          </ul>
      </div>

      <% if (sessionModel.isUserAdmin()) { %>
      <a href="/curriculum-create">Add New Curriculum</a>
      <% } %>

      <%- include('section/footer'); %>

    </div>

    <!-- Static -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>
