<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Matchbook Foundation: Curriculum</title>
  </head>

  <body>
    <div class="container">

      <%- include('section/header'); %>

      <div id="page">
        <h2>Curriculum</h2>
        <div>
            <strong>Name: </strong>
            <span><%= curriculumInfo['name'] %></span>
        </div>
        <div>
            <strong>Description: </strong>
            <span><%= curriculumInfo['description'] %></span>
        </div>
        <div>
          <strong>Availability (next 7 days)</strong>
        </div>
        <div>
          <% Object.keys(curriculumAvailability).forEach(function(yyyymmdd){ %>
              <span><%= yyyymmdd %> </span>
              <% var hourList = curriculumAvailability[yyyymmdd]; %>
            <ul>
              <% hourList.forEach(function(hour) { %>
                <li><a href="/appointment-create?curriculumId=<%= curriculumId %>&yyyymmdd=<%= yyyymmdd %>&hour=<%= hour %>"><%= yyyymmdd %> <%= hour %>:00</a></li>
              <% }) %>
            </ul>
          <%
            });
          %>

        </div>
      </div>

      <%- include('section/footer'); %>

    </div>

    <!-- Static -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>
