<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('section/head_common') %>
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Matchbook Foundation: Curriculum List</title>
</head>

<body>
  <%- include('section/header'); %>
  <div class="container">


    <div id="page">
      <h2>Availability list (start:<%= displayYYYYMMDD[0] %>, end:<%= displayYYYYMMDD[6] %>) </h2>
      <div class="row">

        <% for (var j = 0; j < weekdaysYYYYMMDD.length; j++) { %>
        <div class="col">
          <% var availableHourList = dateToAvailableHourListMap[weekdaysYYYYMMDD[j]];
             if (!availableHourList) {
              availableHourList = [];
             }
          %>


          <h3><%= displayYYYYMMDD[j] %></h3>

          <form action="/tutor-availability-update-post" method="post">
            <input type="hidden" name="yyyymmdd" value="<%= weekdaysYYYYMMDD[j] %>" />
            <div class="btn-group-vertical" data-toggle="buttons">
              <% for (var i=0; i<24; i++) { %>

              <% if (availableHourList.includes(i)) { %>
                <span class="btn btn-secondary active">
                  <input type="checkbox" name="hour" value="<%= i %>" checked> <%= i %>:00-<%= i+1 %>:00
                </span>
              <% } else { %>
                <span class="btn btn-secondary">
                  <input type="checkbox" name="hour" value="<%= i %>"> <%= i %>:00-<%= i+1 %>:00
                </span>
              <% } %>
              <% } %>
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
        </div>
        </form>

        <% } %>
      </div>

    </div>
  </div>

  <%- include('section/footer'); %>

  <!-- Static -->
  <script type="text/javascript">
    $(document).ready(function () {

    })
  </script>
</body>

</html>