<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('section/head_common') %>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Matchbook Foundation: Curriculum List</title>
  </head>

  <body>
    <div class="container">

      <%- include('section/header'); %>

      <%- include('section/menu'); %>

      <div id="page">
        <h2>User View</h2>
        <div>
            <strong>Name: </strong>
            <span><%= userItem['name'] %></span>
        </div>
        <div>
            <strong>Email: </strong>
            <span><%= userItem['email_lowercase'] %></span>
        </div>
        <div>
            <strong>Profile: </strong>
            <span><%= userItem['profile'] %></span>
        </div>
      </div>

      <%- include('section/footer'); %>

    </div>

    <!-- Static -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
  </body>
</html>

